* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0 2%;
  background-color: #13303e;
  height: 10vh;
}

h1 {
  color: #ffd857;
  font-size: xx-large;
}

.hamburger {
  width: 30px;
  height: 30px;
  border: #fff solid 1px;
  border-radius: 10%;
  background-color: #13303e;
  cursor: pointer;
}

.hamburger.disabled {
  display: none;
}

.hamburger span {
  display: flex;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  margin: 5px;
}

.nav-list-desktop {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 100%;
  top: 0;
  background-color: #13303e;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.mobile-menu.active {
  left: 0;
}

.container-x {
  display: flex;
  flex-direction: row;
  align-self: end;
  color: #ffd857;
  font-size: xx-large;
  padding: 5%;
  cursor: pointer;
}

.container-x.disabled {
  display: none;
}

.nav-list-mobile {
  list-style: none;
  padding-top: 30%;
}

.nav-list-mobile li {
  margin-bottom: 30%;
  text-align: center;
}

.nav-list-mobile li a {
  text-decoration: none;
  font-size: xx-large;
  color: #fff;
}

.nav-list-mobile li a:focus {
  color: #ffd857;
}

.nav-list-mobile li a:hover {
  color: #ffd857;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-list-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }

  .nav-list-desktop li {
    list-style: none;
  }

  .nav-list-desktop li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }

  .nav-list-desktop li a:hover {
    color: #ffd857;
  }

  .nav-list-desktop li a:focus {
    color: #ffd857;
  }
main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  padding: 5% 0 5% 5%;
}

.meal {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 28%;
}

.container-name-likes {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.meal-name {
  color: #13303e;
  margin-top: 0;
}

.container-likes {
  display: flex;
  flex-direction: column;
}

.like-icon {
  align-self: center;
  width: 30px;
  cursor: pointer;
}

.likes {
  margin-top: 0;
}

.reservations,
.comments {
  margin-bottom: 7%;
  background-color: #13303e;
  color: #ffd857;
  width: 80%;
  align-self: center;
  border: #13303e 1px solid;
  padding: 2% 0 2% 0;
  cursor: pointer;
}

.reservations {
  width: 100%;
}

.reservations:focus,
.comments:focus {
  background-color: #ffd857;
  color: #13303e;
  border: #ffd857 1px solid;
}

.reservations:hover,
.comments:hover {
  background-color: #ffd857;
  color: #13303e;
  border: #13303e 1px solid;
}

.like-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
